---
title: Niels Gouman.
layout: splash
description: Niels Gouman is een digital native gefascineerd met digitalisering, efficiëntie en automatisering. Momenteel op zoek naar een baan. Kun jij me gebruiken?
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/img/home-hero.jpg
  cta_label: "Meer over Niels"
  cta_url: "/over/"
excerpt: "Hoi. Ik ben **Niels Gouman**. Een digital native gefascineerd met digitalisering en efficiëntie."
feature_row:
  - title: "Over Niels"
    excerpt: "Weten wie ik nou echt ben? En wat mijn verhaal is? Dan is dit eigenlijk de beste plek. "
    url: "/over/"
    btn_label: "&#8594; Over Niels"
    btn_class: "btn--inverse"
  - title: "Blog"
    excerpt: "Ik vind veel dingen interessant, met name dingen rondom efficientie (vaak in combinatie met digitalisering). Soms schrijf ik daarover op mijn blog"
    url: "/blog/"
    btn_label: "&#8594; Blog"
    btn_class: "btn--inverse"
  - title: "Contact"
    excerpt: "Het beste te bereiken via iMessage (SMS) of Email. Maar als je de details wilt weten, klik dan even."
    url: "/contact/"
    btn_label: "&#8594; Contact"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}