---
layout: default
---
<div id="main" role="main">
  {% include sidebar.html %}
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}
    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
      <header>
        {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
      </header>
    {% endunless %}
    <article>
      <section class="page__content" itemprop="text">
        <h2>Profiel</h2>
        <p>Volgens een enquête van monsterboard leest 65% van werkend Nederland maximaal 1 boek per jaar. Ik ben een uitzondering op dat gemiddelde. Je kunt mij omschrijven als een lifelong learner, ik ben altijd een cursus aan het volgen, een boek aan het lezen, of een informatieve podcast aan het luisteren. </p>
        <div class="entries">
          <div id="ervaring" class="entry">
            <header class="entry-header">
              <h2 class="entry-title">Ervaring</h2>
            </header>
            {% for item in site.data.ervaring %}
              <div class="entry-content">
                <h3 class="name">{{ item.waar }}</h3>
                <h4 class="position">{{ item.beroep }}</h4>
                <div class="date"><p>{{ item.jaar }}</p></div>
                <div class="summary"><p>{{ item.omschrijving }}</p></div>
              </div>
            {% endfor %}
          </div>
          <div id="vrijwilligerswerk" class="entry">
            <header class="entry-header">
              <h2 class="entry-title">Vrijwilligerswerk</h2>
            </header>
            {% for item in site.data.vrijwilligerswerk %}
              <div class="entry-content">
                <h3 class="name">{{ item.waar }}</h3>
                <h4 class="position">{{ item.beroep }}</h4>
                <div class="date"><p>{{ item.jaar }}</p></div>
                <div class="summary"><p>{{ item.omschrijving }}</p></div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</article>
</div>